

<div style="display: flex; flex-direction: row; padding: 20px 12px;" >
    <%= render 'components/image', image: @user.avatar, size: 200 %>
    <div style=" margin-left: 15px">
        <div style="font-size: 42px;"><%= @user.name %></div>

        
        <% if @user != current_user %>
            <%= form_tag (current_user.following?(@user) ? unfollow_url : follow_url ), :method => 'post' do %>
                <%= button_tag :submit do %>
                    <i class='uil uil-search'>
                    <%= current_user.following?(@user) ? 'Unfollow' : 'Follow' %>
                    </i>
                <% end %>
            <% end %>
        <% end %>

        <% if @user == current_user %>
            <%= link_to 'Edit', edit_user_registration_path %>
        <% end %>
    </div>
</div>

<h2>Latest articles</h2>
    <div style="display: flex; flex-direction: column-reverse" >
    <% @user.articles.each do |a| %>
        <%= render 'components/articleCard', article: a %>
    <% end %>
</div>